div#header-wrapper {
  padding:10px 0px 0px 0px;
}

section#banner {
  margin:20px 0px 0px 0px;
  padding:50px 0px;
}


section#banner p {
  color: #1fa20f;
}

#nav > ul > li.current > a {
  background: #1fa20f;
}

h1#logo {
  margin-bottom:20px;
}

h1#logo img, h1#logo span {
  height: 55px;
  line-height: 55px;
}

ul.social li a.fa-github {
  background: black;
}

ul.social li a.fa-slack {
  background: orange;
}
